@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .scroll-header {
        @apply fixed top-0 left-0 right-0 shadow-2xl z-50
    }
}
.slick-next:before, .slick-prev:before {
    font-size: 60px;
    line-height: 1;
    opacity: .75;
    color: #fff;
}
.slick-next {
    right: 120px;
    z-index: 100;
}
.slick-prev {
    left: 120px;
    z-index: 100;
}
